html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
}
